<% provide(:title, "Subjective Happiness Scale") %>
<% if @time > 2.weeks.ago %>
	<div class="alert alert-warning">
		Whoa, slow down there! It's been under two weeks since your last Set Point Quiz. Taking them too close together can give false data.
	</div>
<% end %>
<% if @shscales.count >= 3 %>
	<div class="alert alert-danger">
		Taking more than 3 can skew results! If you've done a lot of activities, you'll get higher than expected results.
	</div>
<% end %>

<h1 class="inline-block">Set Point Quiz</h1>
<h4 class="inline">via <a href="http://sonjalyubomirsky.com/wp-content/themes/sonjalyubomirsky/papers/LL1999.pdf">Subjective Happiness Scale</a></h4>
<hr>

<%= form_for(@shs) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">1. In general, I consider myself:</h3>
			  </div>
			  <div class="panel-body">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<%= f.radio_button :general, '1', class: "display-none" %>1 - not a very<br/>happy person
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :general, '2', class: "display-none" %>2
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :general, '3', class: "display-none" %>3
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :general, '4', class: "display-none" %>4
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :general, '5', class: "display-none" %>5
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :general, '6', class: "display-none" %>6
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :general, '7', class: "display-none" %>7 - a very<br/>happy person
						</label>
					</div>
				</div>
			</div>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">2. Compared with most of my peers, I consider myself:</h3>
			  </div>
			  <div class="panel-body">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<%= f.radio_button :peers, '1', class: "display-none" %>1 - less<br/>happy
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :peers, '2', class: "display-none" %>2
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :peers, '3', class: "display-none" %>3
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :peers, '4', class: "display-none" %>4
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :peers, '5', class: "display-none" %>5
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :peers, '6', class: "display-none" %>6
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :peers, '7', class: "display-none" %>7 - more<br />happy
						</label>
					</div>
				</div>
			</div>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">3. Some people are generally very happy. They enjoy life regardless of what is going on, getting the most out of everything. To what extent does this characterization describe you?</h3>
			  </div>
			  <div class="panel-body">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<%= f.radio_button :regardless, '1', class: "display-none" %>1 - not<br/>at all
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :regardless, '2', class: "display-none" %>2
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :regardless, '3', class: "display-none" %>3
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :regardless, '4', class: "display-none" %>4
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :regardless, '5', class: "display-none" %>5
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :regardless, '6', class: "display-none" %>6
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :regardless, '7', class: "display-none" %>7 - a<br/>great deal
						</label>
					</div>
				</div>
			</div>

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">4. Some people are generally not very happy. Although they are not depressed, they never seem as happy as they might be. To what extent does this characterization describe you?</h3>
			  </div>
			  <div class="panel-body">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<%= f.radio_button :neg, '1', class: "display-none" %>1 - a<br/>great deal
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :neg, '2', class: "display-none" %>2
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :neg, '3', class: "display-none" %>3
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :neg, '4', class: "display-none" %>4
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :neg, '5', class: "display-none" %>5
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :neg, '6', class: "display-none" %>6
						</label>
						<label class="btn btn-default">
							<%= f.radio_button :neg, '7', class: "display-none" %>7 - not</br>at all
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= f.submit "All done", class: "btn btn-large btn-primary" %>
<% end %>
