<% provide(:title, full_name(@user)) %>

<div class="alert alert-warning">
	If you're wondering where all this info came from, it's been hardcoded in. As I add features, I'll remove the hardcoded portions. Thanks for the feedback!
</div>

<div class="row">
	<div class="col-md-12">
		<h1 class="">
			<%= full_name(@user) %>
		</h1>
		<hr>
	</div>
</div>

<% if @time < 2.weeks.ago && @shscales.count < 3 %>
	<div class="alert alert-info">
		<strong>Heads up!</strong> It's been over two weeks since your last <%= link_to "Set Point Quiz", new_subjective_happiness_scale_path, class: 'alert-link' %>.
	</div>
<% end %>

<div class="row">
	<div class="col-md-5">
		<h2>My Happiness</h2>

		<table class="table">
			<tbody>
				<tr>
					<td sytle="width:25%">In My Control:</td>
					<td style="width:75%">
						<div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>In My Control:</strong> How much happiness you can achieve by participating in these activities.<br /><strong>Research shows that we have control over 40% of our happiness</strong><br /><i>Currently hardcoded</i>">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 87.5%;">
						    35 / 40
						  </div>
						</div>
					</td>
				</tr>
				<tr>
					<td sytle="width:25%">Circumstance:</td>
					<td style="width:75%">
						<div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Circumstance:</strong> How much happiness you get out of wealth, beauty, and material goods.<br /><strong>Research shows this makes up only 10% of our happiness</strong><br /><i>Currently hardcoded</i>">
						  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						    8 / 10
						  </div>
						</div>
					</td>
				</tr>
				<tr>
					<td sytle="width:25%">Set Point:</td>
					<td style="width:75%">
						<div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Set Point:</strong> How much happiness is controlled by your genetics. Some people are born generally happy, others need help.<br /><strong>Research shows that our genetics make up 50% of our happiness</strong><br />">
						  <div class="progress-bar progress-bar-gray" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @shs_average * 100 / 50 %>%;">
						    <%= @shs_average %> / 50
						  </div>
						</div>
					</td>
				</tr>
				<tr>
					<td sytle="width:25%">Potential:</td>
					<td style="width:75%">
						<div class="progress" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Potential:</strong> How much happier you could become.<br /><strong>Focus on these activities and bettering your circumstances</strong><br /><i>Currently hardcoded</i>">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 14%;">
						    7 / 50
						  </div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<h4>My Happiness Score: <span class="text-success strong">90</span> <strong>/ 100</strong></h4>
		<h4>Potential Happiness Score: <span class="text-info strong">97</span> <strong>/ 100</strong></h4>
		<div class="progress">
		  <div class="progress-bar progress-bar-gray" style="width: <%= @shs_average %>%"></div>
		  <div class="progress-bar" style="width: 8%"></div>
		  <div class="progress-bar progress-bar-success" style="width: 35%"></div>
		  <div class="progress-bar progress-bar-info" style="width: 7%"></div>
		</div>
		<br />

		<h2>My To-dos</h2>
		<table class="table normal-links">
			<tbody>
				<tr>
					<td style="width:5%">1.</td>
					<td style="width:25%">Take Tour (<%= link_to "again", '#' %>)</td>
					<td>
						<div class="progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
						  	1 of 1
						  </div>
						</div>
					</td>
				</tr>
				<tr>
					<td style="width:5%">2.</td>
					<td style="width:25%">
						<% if @time < 2.weeks.ago && @shscales.count < 3 %>
							<%= link_to "Set Point Quizzes", new_subjective_happiness_scale_path %>
						<% else %>
							Set Point Quizzes
						<% end %>
					</td>
					<td>
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @shscales.count * 100 / 3 %>%;">
						  	<%= @shscales.count %> of 3
						  </div>
						</div>
					</td>
				</tr>
				<tr>
					<td style="width:5%">3.</td>
					<td style="width:35%"><%= link_to "Person Activity Fit Quiz", '#'%></td>
					<td>
						<div class="progress">
						  <div class="progress-bar" style="width: 0%;"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td style="width:5%">4.</td>
					<td style="width:25%"><%= link_to "Do a Happiness Activity", '#' %></td>
					<td>
						<div class="progress">
						  <div class="progress-bar" style="width: 0%;"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td style="width:5%">5.</td>
					<td style="width:25%">Finish Profile</td>
					<td>
						<div class="progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
						  	3 of 3
						  </div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<h2 class="inline-block">My Effective Strategies</h2>
		<p class="inline"><%= link_to "update", '#' %></p>
		<table class="table normal-links">
			<tbody>
				<tr>
					<td style="width:5%" class="text-right">1.</td>
					<td style="width:35%"><a href="#benefitsofactivity">Gratitude</td>
					<td style="width:30%" class="text-center"><a href="#viewactivity">view</a></td>
					<td style="width:30%" class="text-center"><a href="#newactivity">new</a></td>
				</tr>
				<tr>
					<td style="width:5%" class="text-right">2.</td>
					<td style="width:35%"><a href="#benefitsofactivity">Savoring Life's Joys</td>
					<td style="width:30%" class="text-center"><a href="#viewactivity">view</a></td>
					<td style="width:30%" class="text-center"><a href="#newactivity">new</a></td>
				</tr>
				<tr>
					<td style="width:5%" class="text-right">3.</td>
					<td style="width:35%"><a href="#benefitsofactivity">Acts of Kindness</td>
					<td style="width:30%" class="text-center"><a href="#viewactivity">view</a></td>
					<td style="width:30%" class="text-center"><a href="#newactivity">new</a></td>
				</tr>
				<tr>
					<td style="width:5%" class="text-right">4.</td>
					<td style="width:35%"><a href="#benefitsofactivity">Reach Flow</td>
					<td style="width:30%" class="text-center"><a href="#viewactivity">view</a></td>
					<td style="width:30%" class="text-center"><a href="#newactivity">new</a></td>
				</tr>
			</tbody>
		</table>

		<h2>Other Strategies</h2>
		<table class="table normal-links">
			<tbody>
				<tr>
					<td style="width:5%" class="text-right">5.</td>
					<td style="width:35%"><a href="#benefitsofactivity">Other</td>
					<td style="width:30%" class="text-center"><a href="#viewactivity">view</a></td>
					<td style="width:30%" class="text-center"><a href="#newactivity">new</a></td>
				</tr>
				<tr>
					<td style="width:5%" class="text-right">6.</td>
					<td style="width:35%"><a href="#benefitsofactivity">Other</td>
					<td style="width:30%" class="text-center"><a href="#viewactivity">view</a></td>
					<td style="width:30%" class="text-center"><a href="#newactivity">new</a></td>
				</tr>
				<tr>
					<td style="width:5%" class="text-right">7.</td>
					<td style="width:35%"><a href="#benefitsofactivity">Other</td>
					<td style="width:30%" class="text-center"><a href="#viewactivity">view</a></td>
					<td style="width:30%" class="text-center"><a href="#newactivity">new</a></td>
				</tr>
				<tr>
					<td style="width:5%" class="text-right">8.</td>
					<td style="width:35%"><a href="#benefitsofactivity">Other</td>
					<td style="width:30%" class="text-center"><a href="#viewactivity">view</a></td>
					<td style="width:30%" class="text-center"><a href="#newactivity">new</a></td>
				</tr>
			</tbody>
		</table>		
	</div>


	<div class="col-md-6 col-md-offset-1">
		<h2>My Activities (12)</h2>
		<% if @shscales.any? %>
			<% @shscales.each do |shs| %>
				<h3>Set Point Quiz -- Score: <%= shs.score.to_f %> / 7.0</h3>
				<p>Quizzes -- Completed <%= time_ago_in_words(shs.created_at) %> ago</p>
			<% end %>
		<% end %>

		<h3>My Main Squeeze</h3>
		<p>Gratitude -- Posted 4 hours ago</p>
		<h3>Helped an elderly lady across the street</h3>
		<p>Acts of Kindness -- Posted 2 days ago</p>
		<h3>Example 3</h3>
		<p>Acts of Kindness -- Posted 2 days ago</p>
		<h3>Example 4</h3>
		<p>Acts of Kindness -- Posted 2 days ago</p>
		<h3>Example 5</h3>
		<p>Acts of Kindness -- Posted 2 days ago</p>
		<h3>Example 6</h3>
		<p>Acts of Kindness -- Posted 2 days ago</p>
		<h3>Example 7</h3>
		<h3>Completed 2nd Set Point Quiz</h3>
		<p>Subjective Happiness Scale -- Posted 2 days ago</p>

		<ul class="pagination">
		  <li class="disabled"><a href="#">«</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">»</a></li>
		</ul>
	</div>
</div>
